<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ site.title | escape }}{% if page.title %} - {{ page.title | escape }}{% endif %}</title>

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootswatch/3.3.7/flatly/bootstrap.min.css">
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript">
		$(window).ready(function() {
			$("table").addClass("table table-bordered table-condensed");
		});
	</script>
</head>
