---
---

body {
	font-size: 16px;
	overflow-y: scroll;
	padding-top: 60px;
}

.container-fluid {
	max-width: 800px;
}

footer {
	border-top: 1px solid #ecf0f1;
	margin-top: 20px;
	padding: 20px 0;
}

footer > p:last-child {
	margin-bottom: 0;
}

.info-box {
	text-align: center;
	padding: 10px;
	border: 2px solid #3498db;
	border-radius: 5px;
}
